---
layout: default
---

<div class="">
    <h3 class="allArt" onclick="handleSelectorClick(event)">All Art</h3>

    <div class="filters">
        <p class="byward" onclick="handleSelectorClick(event)" >Byward Market</p>
        <p class="centerTown" onclick="handleSelectorClick(event)" >Center Town</p>
        <p class="glebe" onclick="handleSelectorClick(event)"  >Glebe</p>
    </div>

    <ul class="wrapper all">
            {% assign sortedArt = site.data.artCollection | where: 'area','byward' | sort: 'imageTakenDate' | reverse %} 
                {% for artPiece in sortedArt %}
                <li class="landscape imageContainer a" onclick="handleImgClick(event)" id="{{ artPiece.id }}"><img class="" src="https://instagram.com/p/{{ artPiece.id }}/media/?size=m"></li>
            {% endfor %}
            {% assign sortedArt = site.data.artCollection | where: 'area','centerTown' | sort: 'imageTakenDate' | reverse %} 
                {% for artPiece in sortedArt %}
                <li class="landscape imageContainer b" onclick="handleImgClick(event)" id="{{ artPiece.id }}"><img class="" src="https://instagram.com/p/{{ artPiece.id }}/media/?size=m"></li>
            {% endfor %}
            {% assign sortedArt = site.data.artCollection | where: 'area','glebe' | sort: 'imageTakenDate' | reverse %} 
                {% for artPiece in sortedArt %}
                <li class="landscape imageContainerc c" onclick="handleImgClick(event)" id="{{ artPiece.id }}"><img class="" src="https://instagram.com/p/{{ artPiece.id }}/media/?size=m"></li>
            {% endfor %}
    </ul>
</div>
