.headImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.recentImagesBox{
    display: flex;
    justify-content: space-between;
}

.recentImage {
    width: 80%;
    height: 70%;
    transition: transform .2s; 
    padding:20px; 
}

.recentImage:hover {
    transform: scale(1.1); 
}

.imageBox {
    text-align: center;
} 

.menuItems {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.page-link {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

.page-link:visited{
    color: black;
}

.page-link:hover {
    text-decoration: none;
    color: gray;
}

