.headImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.recentImagesBox{
    display: flex;
    justify-content: space-between;
}

.recentImage {
    width: 30%;
    height: 30%;
}

.imageBox {
    text-align: center;
}