.headImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}

.recentArtContainer{
    display: flex;
    justify-content: space-between;
}

.image {
    width: 80%;
    height: 70%;
    transition: transform .2s; 
    padding:20px; 
}

.image:hover {
    transform: scale(1.1); 
}

.artImageContainer {
    text-align: center;
} 

.menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top:0;
    width: 100%;
}

.menuItem {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.menuItem:hover {
    color: white;
}

.menuItem:visited{
    color: white;
}