<div class="footer">
    <div class="mediaTag">       
         {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github"></i> torsden
            </a>
        {% endif %}
        <br>
      {% if site.instagram_username %}
    <a href="https://instagram.com/{{ site.instagram_username }}">
      <i class="fa fa-instagram"></i> streetartottawa
    </a>
{% endif %}
</div>  
<div class="footerText">
  <p>Some footer text to be filled in</p>
</div>
</div>