<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">



<header class="site-header" role="banner"> 
    <ul class="menuBar">
        <li><a class="menuItem" href="index.html">Home</a></li>
        <li><a class="menuItem" href="about.html">About</a></li>
        <li><a class="menuItem" href="art.html">Art</a></li>
        <li class="menuLogo glitch">Street Art Ottawa</li>
    </ul>
</header>

