.pageContainer{
    display: grid;
    grid-template-columns: [leftEdge] 40px [col1] 1fr [col2] 1fr [rightEdge] 40px [end];
    grid-template-rows: [topEdge] 40px [row1] 1fr [row2] 1fr [bottomEdge] 40px [end];
}
.site-header {
    z-index: 1;
    min-height: 55.95px;
    position: relative;
    grid-column-start: leftEdge;
    grid-column-end: end;
    grid-row-start: topEdge;
    grid-row-end: row1;
}
.landscape:hover {
    transition: transform 0.1s ease-in;
    transform: scale(1.05);
    }
.portrait:hover {
    transition: transform 0.1s ease-in;
    transform: scale(1.05); 
}
.artImageContainer {
    text-align: center;
} 
.menuBar {
    visibility: visible;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 50px;
    transition: top 0.3s ease-in;
}
.hiddenMenuBar {
    visibility: visible;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    opacity: 0.5;
    position: fixed;
    top:-50px;
    width: 100%;
    transition: top 0.3s ease-in;
    left: 0;
}
.menuItem {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
}
.menuItem:hover {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}
.menuItem:visited {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}
.menuLogo {
    float: right;
    display: block;
    color: black;
    text-align: justify;
    padding: 15px;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    padding-right: 40px;
    font-size: 16px;
}
.menuItem:visited{
    color: black;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-gap: 23px;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em auto;
    padding: 0px;
    max-width: 800px;
    height: 530px;
    width: 100%;
}

.artImageExplorer .wrapper {
    max-width: 1650px;

} 
.wrapper li {
    border: 1px solid #ccc;
}
.wrapper li.landscape {
    grid-column-end: span 2;
    height: 250px;
    width: 250px;
}
.wrapper li.landscapeText{
    grid-column-end: span 2;
}
.wrapper li img {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    height: 30px;
}
.footerIcon {
    float: left;
    display: block;
    color: black;
    font-size: 40px;
    margin: auto 0 auto 0;
    text-align: left;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.mediaTag {
    float: left;
    margin-left: 2%;
    width: 10%;
    padding: 5px;
    text-decoration: none;
    text-align: left;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.artButton {
    position: sticky;
    align-self: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Asap', sans-serif;
    padding: 10px;
    font-size: 15px;

}
body {
    background-image: rgba(245, 245, 245, 0.959);
}
.allArt {
    text-align: center;
    font-family: 'Asap', sans-serif;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:transparent;
}

#map{
    height: 215px;
    width: 770px;
    order: 2;
    align-self: center;
    margin-left: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-content {
    background-color: #fefefe;
    margin: 4% auto;
    border: 1px solid #888;
    width: 70%;
}

#dialogImage {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.artDescription{
    float: inherit;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 13px;
    padding-top: 3px;
}

.dialogImage {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: 20px;
    margin-right: 16px;
    padding-top: 30px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.artImageExplorer{
    display: flex;
}

.filters{
    display: flex;
    width: 100px;
    flex-direction: column;
    font-family: 'Asap', sans-serif;
    margin-left: 35px;
}

.filter{
    font-family: 'Asap', sans-serif;
    padding: 5px;
    margin-bottom: 15px
}

