.pageContainer{
    display: grid;
    grid-template-columns: [leftEdge] 40px [col1] 1fr [col2] 1fr [rightEdge] 40px [end];
    grid-template-rows: [topEdge] 40px [row1] 1fr [row2] 1fr [bottomEdge] 40px [end];
}
.site-header {
    z-index: 1;
    min-height: 55.95px;
    position: relative;
    grid-column-start: leftEdge;
    grid-column-end: end;
    grid-row-start: topEdge;
    grid-row-end: row1;
}
.landscape:hover {
    transition: transform 0.1s ease-in;
    transform: scale(1.05);
    }
.portrait:hover {
    transition: transform 0.1s ease-in;
    transform: scale(1.05); 
}
.artImageContainer {
    text-align: center;
} 
.menuBar {
    visibility: visible;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #7F48D9 , #a8eb12);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 50px;
    transition: top 0.3s ease-in;
}
.hiddenMenuBar {
    visibility: visible;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #7F48D9 , #a8eb12);
    opacity: 0.5;
    position: fixed;
    top:-50px;
    width: 100%;
    transition: top 0.3s ease-in;
    left: 0;
}
.menuItem {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}
.menuItem:hover {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.menuLogo {
    float: right;
    display: block;
    color: black;
    text-align: justify;
    padding: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-right: 40px;
    font-size: 16px;
}
.menuItem:visited{
    color: black;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    list-style: none;
    margin: 1em auto;
    padding: 0;
    max-width: 800px;
}
.wrapper li {
    border: 1px solid #ccc;
}
.wrapper li.landscape {
    grid-column-end: span 2;
}
.wrapper li.landscapeText{
    grid-column-end: span 2;
}
.wrapper li img {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;

    text-align: center;
    height: 30px;
}
.footerIcon {
    float: left;
    display: block;
    color: black;
    font-size: 25px;
    margin: auto 0 auto 0;
    text-align: left;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.mediaTag {
    float: left;
    margin-left: 2%;
    width: 10%;
    padding: 5px;
    text-decoration: none;
    text-align: left;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.artButton {
    position: sticky;
    align-self: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 30%;
    color: white;
    background-color: rgb(109, 32, 197);
}
body {
    background-image: linear-gradient(to right top, #7F48D9 , #9C89B3 , white , #FFF6FF , #a8eb12);
}
.allArt {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


