.pageContainer{
    display: grid;
    grid-template-columns: [leftEdge] 40px [col1] 1fr [col2] 1fr [rightEdge] 40px [end];
    grid-template-rows: [topEdge] 40px [row1] 1fr [row2] 1fr [bottomEdge] 40px [end];
}
.site-header {
    z-index: 1;
    min-height: 55.95px;
    position: relative;
    grid-column-start: leftEdge;
    grid-column-end: end;
    grid-row-start: topEdge;
    grid-row-end: row1;
}
.landscape:hover {
    transition: transform 0.1s ease-in;
    transform: scale(1.05);
    }
.portrait:hover {
    transition: transform 0.1s ease-in;
    transform: scale(1.05); 
}
.artImageContainer {
    text-align: center;
} 
.menuBar {
    visibility: visible;
    list-style-type: none;
    margin-bottom: 1px;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transition: top 0.3s ease-in;
}
.hiddenMenuBar {
    visibility: visible;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    opacity: 0.5;
    position: fixed;
    top:-50px;
    width: 100%;
    transition: top 0.3s ease-in;
    left: 0;
}
.menuItem {
    float: left;
    display: block;
    color: #40709e;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Asap', sans-serif;
    font-weight: 900;

}
.menuItem:hover {
    float: left;
    display: block;
    color: #40709e;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    font-weight: 900;
}
.menuItem:visited {
    float: left;
    display: block;
    color: #40709e;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-size: 16px;
    font-weight: 900;
}
.menuLogo {
    float: right;
    display: block;
    color: #40709e;
    text-align: justify;
    padding: 15px;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    padding-right: 40px;
    font-size: 16px;
    font-weight: 900;
}
.menuItem:visited{
    color: #40709e;
    font-weight: 900;
}
.wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    list-style: none;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}


.artImageExplorer .wrapper {
    max-width: 1650px;

} 
.wrapper li {
    border: 1px solid #ccc;
}
.wrapper li.landscape {
       height: 250px;
       width: auto;
       margin-right: 20px;
       margin-bottom: 20px;
       flex-basis: 250px;
}

.wrapper li.landscapeText{
    grid-column-end: span 2;
}
.wrapper li img {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    height: 30px;
}
.footerIcon {
    float: left;
    display: block;
    color: black;
    font-size: 40px;
    margin: auto 0 auto 0;
    text-align: left;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.mediaTag {
    float: left;
    margin-left: 2%;
    width: 10%;
    padding: 5px;
    text-decoration: none;
    text-align: left;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.artButton {
    position: relative;
    align-self: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #40709e;
    font-family: 'Asap', sans-serif;
    padding: 10px;
    font-size: 15px;

}
body {
    background-image: rgba(245, 245, 245, 0.959);
}


.slogan {
    font-family: 'Poppins', sans-serif;
    margin: 36px 0 36px 0;
    padding: 0;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}

#mapOfAllArt {
    margin-top: 17px;
    border: 1px solid rgb(204, 204, 204);
    height: 526px;
    position: relative;
    overflow: hidden;
    float: right;
    width: 92%;
}
    
.allArt {
    text-align: center;
    font-family: 'Asap', sans-serif;
}
.reactModal {
    position: absolute;
    left: 20%;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    width: 60%;
    align-items: center;
    margin-top: 5%;
    z-index: 1;
    background: whitesmoke;
}

.closeButton {
    margin: 10px;
    order: 0;
    padding-right: 10px;
    margin-right: 20px;
    /* align-self: baseline; */
    /* margin-left: 495px; */
    /* position: absolute; */
    /* display: flex; */
    float: right;

}

.modalImage{
    width: 100%;
    position: relative;
}

.imgDescription{
    margin-top: 0px;
    font-family: 'Asap', sans-serif;
    font-size: 15px;
    align-self: flex-start;
    margin: 90px;
    order: 1;
    padding-top: 15px;
}

.rightSection{
    position: relative;
    justify-content: right;
    margin-left: auto;
    width: 100%;
}

.leftSection{
    margin-top: 34px;
    margin-left: 42px;
    position: relative;
    width: 100%;
}

.topSection{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

#map{
    height: 215px;
    width: 770px;
    background-color: pink;
    order: 2;
    align-self: center;
    margin-left: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    margin-right: 76px;
}

#dialogImage {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.artDescription{
    float: inherit;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 13px;
    padding-top: 3px;
}

.dialogImage {
    width: 60%;
    height: 60%;
    display: block;
    margin-left: 20px;
    margin-right: 16px;
    padding-top: 30px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.artImageExplorer{
    display: flex;
}

.filters{
    display: flex;
    width: 100px;
    flex-direction: column;
    font-family: 'Asap', sans-serif;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 16px;
    width: 14%;
    
}

.filter{
    font-family: 'Asap', sans-serif;
    padding: 5px;
    margin-bottom: 15px;
    background: #ffffff;
    border: white;
    font-size: 16px;
    color: #406f9e;
}

.aboutText {
    border: solid 2px #406f9e;
    background: #406f9e;
    color: white;
    padding: 50px;
    margin: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

.animatedDiv {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 5px;
    font-size: 14px;
    text-align: center;
    font-family: 'Asap', sans-serif;
    background-color: white;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    0%   {color:#406f9e;}
    25%  {color:#30CFD0;}
    50%  {color:#406f9e;}
    75%  {color:#30CFD0;}
    100% {color:#406f9e;}
  }